*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    
}

.footer{
    padding: 5px 10px;
    background-color: blue;
    color: #fff;align-items: center;
}

.footer p{
    margin-left: 35%;
}
