*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    color: #000;
}

body{
    height: 100vh;
    width: auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

a{
    text-decoration: none;
    list-style: none;
}

.logo{
    font-size: 2em;
    color: #fff;
    padding-left: 10px;
    user-select: none; /*tira a maozinha do link*/
}

.navigation a{
    position:  relative;
    font-size: 1.1em;
    color: #fff;
    padding-left: 20px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content: '';/*faz tudo funcionar*/
    position: absolute;
    left: 0;/*centraliza no Link ou tag a*/
    bottom: -6px;/*joga a barra 6 px para baixo*/
    width: 100%;/*determina o tamanho igual a escrita do link*/
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);/*esse é o inicio, quando o cursor nao está sobre o link*/
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);/*aqui libera a animação dos codigos acima*/
    color: #09a44fd0;
}

.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover{
    background-color: #fff;
    color: #162938;
}

.footer{
    padding: 5px 10px;
    width: 100%;
    background-color: #343a40;
    color: #fff;align-items: center;
    text-align: center;
    padding: 10px;
}
/*Parte de PRODUTO*/
.canteiner-prod{
    background-color: bisque;
    height: 80%;
    width: 100%;
    padding-right: 20px;
    align-items: center;
    align-content: center;
}

.container-fluid{
    position: relative;
}

.canteiner-prod{
    height: auto;
    width: auto;
    padding-bottom: 15px;
}

.produtos{
    color: #000;
    font-weight: 600;
    font-size: 2rem;
    position: relative;
    margin-top: 55px;
    text-align: center;
    margin-left: auto;
    font-family: 'Poppins', sans-serif;
}

/*button que coloca no carrinho*/  .para-carrinho{
    background-color: transparent;

}

.org-prods{
    display: flex;
    flex-wrap: wrap;
    max-width: fit-content;
    margin: auto;
    padding: auto;
}

.card{
    margin-right: 20px;
    margin-top: 10px;
}

/*Parte de CONTATO*/
.conteiner{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #57F562;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.conteiner-contato{
    height: 100%;
    width: 100%;
    background-image: url(img/image_contato.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #57F562;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    position: relative;
    width: 70%;
    height: 80%;
    margin-inline: auto;
    color: #fff;
}

.form{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    padding: 7.5%;
    background-color: #fff;
    backdrop-filter: blur;
    color: #000;
    border-radius: 3pc;
    box-shadow: 0 0 0 7px rgba(0, 0, 0, .5);
}

label{
    color: #000000;
}

form h2{
    color: #000000;
}

.inp-contato{
    height: 25px;
    width: auto;
    background: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid #000;    
    margin-bottom: 10px;
}

.btn-contato{
    margin-top: 5px;
}

/*Responsibilidade da página Contato*/

/* Dispositivos small (telefones em modo paisagem com até 768px)*/
@media (max-width: 914px) { 
    .navigation{
        display: none;
    }
    .meunu-responsa{
        display: flex;
        font-size: 1.5em;
    }
    .conteiner{
        width: 100%;
        align-items: center;
    }
    .conteiner .image-contato{
        display: none;
    }
    form{
        height: 90%;
        width: auto;
        padding: 10px;
    }

    .form{
        box-shadow: none;
    }
    .form button{
        height: 30px;
    }

 }

.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #140b0b;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover{
    background-color: #fff;
    color: #162938;
}
/*Produtos Específicos*/

#container2{
    background-color: #0A89A6;
    background-repeat: no-repeat;
    background-size: cover;
	background-size: 100%;
}

#h_1{
    background-color:#F2F2F2;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, .5);
    width:85%;
    height: 75%;
}
  

#imagem{
	height: 200px;
	border: 2px solid black;
	
}  

#h4{
margin-left:5%;
margin-right:5%;
}

#desc{
margin-left:5%;
margin-right:5%;
}


#g{
width:100%;
}



#logo{
    margin-top: 5px;
    height: 20px;
}

#a{
    width:80%;
    float: left;
}
            
#b{
    width:20%;
    float: left;
}

.comprar-produto{
    display: grid;
    align-items: left;
    align-content: left;
    box-sizing: border-box;
    padding: 20px;
}

.comprar-produto form{
    display: grid;    
    padding: 20px;
}

.comprar-produto strong{
    color: #000;
    font-size: 1.5rem;
}

.comprar-produto label{
    font-size: 1.25rem;
    position: relative;
    left: 0px;
}

.comprar-produto form label{
    font-size: 1.25rem;
    position: relative;
    align-items: left;
    display: flex;
}

.comprar-produto input{
    width: 100%
}

.comprar-produto button{
    width: 50%;
    left: 0;
    position: relative;
    margin-top: 10px;
}

.btn-comprar{
    width: 20%;
    left: 25%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0A89A6;
    border-color: 4px solid #000;
    color: #fff;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.comprar-produto .btn-comprar:hover{
    background-color: #57F562;
    color: #000;
    box-shadow: 2px rgba(0, 0, 0, .5);
    transform: scale(110%);
    transition: .5s;
}

.comprar-produto .btn-comprar::before{
    transition: .2s;
}
